/* small devices */

@media screen and (max-width: 576px) {

    /* header styles */

    .logo-container {
        gap: 10px;
    }

    .fa-gamepad {
        font-size: 2.2rem;
    }

    .logo-container>h3 {
        font-size: 2rem;
    }

    header>nav,
    header>nav>ul {
        flex-direction: column;
    }

    header>nav li {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .follow-container {
        margin-top: 30px;
    }

    /* main styles */

    /* banner section */

    .banner-section {
        background-image: none;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-image {
        width: 90%;
    }

    .banner-text-container {
        width: 100%;
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 20px auto 0;
        padding: 125px 0 250px;
        position: relative;
    }

    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner-title {
        font-size: 1.2rem;
    }

    .goat-abbreviation {
        font-size: 2.4rem;
    }

    .banner-description i {
        font-size: 0.6rem;
    }

    .banner-description p {
        font-size: 0.6rem;
    }

    .primary-button {
        font-size: 0.5rem;
        padding: 10px 15px;
        margin-right: 3px;
    }

    /* funny section  */

    .card-container {
        flex-direction: column;
    }

    .card-container>.cards {
        width: 100%;
    }

    /* play-instant-section */

    .play-instant-section {
        flex-direction: column;
    }

    .play-instant-text-container {
        width: 100%;
        text-align: center;
    }

    .play-instant-title {
        font-size: 1.8rem;
    }

    .play-instant-text-container>p {
        width: 80%;
        position: static;
        margin: 18px auto;
    }

    .img-container {
        width: 75%;
        margin-top: 35px;
    }

    /* game-categories-section */

    .game-categories-section {
        margin-top: 25px;
        background-image: none;
    }

    .game-links {
        padding: 0 20px;
        display: grid;
        gap: 30px 6px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .game-links li a {
        font-size: 0.5rem;
        font-weight: 700;
        padding: 5px 3px 5px 2.5px;
        gap: 5px;
        justify-content: center;
    }

    .game-links a>img {
        width: 25px;
    }

    /* footer section */

    footer {
        padding: 100px 0 80px;
    }

    .footer-container {
        padding: 0 20px;
    }

    .footer-logo-container {
        gap: 10px;
    }

    .footer-logo-container>h3 {
        font-size: 2rem;
    }

    .footer-titles>nav>ul {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .footer-titles>nav>ul a {
        font-size: 0.7rem;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .social-links i {
        font-size: 1.8rem;
    }

    .right-align-links {
        justify-self: end;
    }

    .left-align-links {
        justify-self: start;
    }

    .guide-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 60px;
    }

    .guide-links a {
        font-size: 0.5rem;
    }

    .footer-container>p {
        font-size: 0.5rem;
        margin-top: 50px;
    }

}




















/* medium devices or tablet */

@media screen and (min-width: 576px) and (max-width: 960px) {

    /* header  styles */

    header>nav {
        flex-direction: column;
    }

    .fa-gamepad {
        font-size: 2.8rem;
    }

    .logo-container>h3 {
        font-size: 2.4rem;
    }

    /* main styles */

    /* banner section */

    .banner-section {
        background-image: url("../images/Group\ 14.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-text {
        width: 45%;
        padding: 0;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .goat-abbreviation {
        font-size: 4.75rem;
    }

    .banner-image {
        width: 55%;
    }

    /* play-instant-section */

    .play-instant-text-container {
        width: 35%;
        position: static;
    }

    .play-instant-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .play-instant-text-container>p {
        color: #534C64;
        font-size: 1.13rem;
        font-weight: 400;
        width: auto;
        position: static;
    }

    .img-container {
        width: 50%;
    }


    /* footer */

    footer {
        padding: 120px 0 100px;
    }


    .footer-logo-container>h3 {
        font-size: 2.4rem;
    }

    .footer-titles>nav>ul {
        justify-content: space-evenly;
        gap: 0;
    }

    .footer-titles>nav>ul a {
        font-size: 0.8rem;
    }

    .social-links {
        gap: 35px;
    }

    .social-links i {
        font-size: 2rem;
    }

    .guide-links {
        margin-top: 50px;
        gap: 35px;
    }

    .guide-links a {
        font-size: 0.6rem;
    }

    .footer-container>p {
        font-size: 0.6rem;
    }


}