/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

/* common styles */

.primary-color {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}


/* header styles  */

header {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.fa-gamepad {
    color: #FF42A5;
    font-size: 3.2rem;
}

.logo-container>h3 {
    font-size: 2.8rem;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 700;
}

#g-letter {
    color: #FF42A5;
}

nav>ul {
    padding-left: 0;
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav>ul a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
}

.follow-container {
    padding: 15px 25px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.follow-container>a {
    margin-right: 10px;
}

.follow-container span {
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* main styles  */

/* banner section */

.banner-section {
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}


.banner-container {
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
}

.banner-text {
    width: 35%;
    /* border: 1px solid red; */
    padding: 100px 180px 135px 0;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}


.goat-abbreviation {
    font-size: 5.94rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-text p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.primary-button {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.rouge-button {
    background-color: #4EC5F7;
}

.banner-image {
    width: 55%;
    /* border: 1px solid blue; */
    padding-top: 20px;
}

.banner-image img {
    width: 100%;
    display: block;
}

/* funny-section */

.funny-section {
    max-width: 1400px;
    margin: 80px auto 120px;
    padding: 0 20px;
}

.funny-section>h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.funny-section>p {
    text-align: center;
    color: #534C64;
    font-size: 1.13rem;
    font-weight: 400;
    margin-top: 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.card-container > .cards {
    width: 23%;
}

.card-container img {
    width: 100%;
}

.card-container p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 25px;
}
