/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

/* common styles */

.primary-color {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}


/* header styles  */

header {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

header>nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.fa-gamepad {
    color: #FF42A5;
    font-size: 3.2rem;
}

.logo-container>h3 {
    font-size: 2.8rem;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 700;
}

#g-letter {
    color: #FF42A5;
}

header>nav>ul {
    padding-left: 0;
    display: flex;
    align-items: center;
}

header>nav li {
    list-style: none;
    margin-right: 30px;
}

header>nav>ul a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
}

.follow-container {
    padding: 15px 25px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.follow-container>a {
    margin-right: 10px;
}

.follow-container span {
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* main styles  */

/* banner section */

.banner-section {
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.banner-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
}

.banner-text {
    width: 35%;
    /* border: 1px solid red; */
    padding: 100px 180px 135px 0;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}


.goat-abbreviation {
    font-size: 5.94rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-text p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.primary-button {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.rouge-button {
    background-color: #4EC5F7;
}

.banner-image {
    width: 55%;
    /* border: 1px solid blue; */
    padding-top: 20px;
}

.banner-image img {
    width: 100%;
    display: block;
}

/* funny-section */

.funny-section {
    max-width: 1440px;
    margin: 80px auto 120px;
    padding: 0 20px;
}

.funny-section>h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.funny-section>p {
    text-align: center;
    color: #534C64;
    font-size: 1.13rem;
    font-weight: 400;
    margin-top: 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.card-container .cards {
    width: 23%;
}

.card-container img {
    width: 100%;
}

.card-container p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 25px;
    word-wrap: break-word;
}


/* play-instant-section */

.play-instant-section {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-text-container {
    width: 45%;
    text-align: right;
    position: relative;
}

.play-instant-title {
    font-size: 2rem;
    font-weight: 700;
}

.play-instant-title>h2 {
    margin: 0;

}

.play-instant-color {
    background-image: linear-gradient(180deg, #F948B2 100%, #8758F1 0%);
    color: transparent;
    -webkit-background-clip: text;
}


.play-instant-text-container>p {
    color: #534C64;
    font-size: 1.13rem;
    font-weight: 400;
    width: 60%;
    position: absolute;
    right: 0;
}

.img-container {
    width: 40%;
    position: relative;
}

.hero-man-photo>img {
    width: 100%;
    display: block;
}

.female-cat-photo>img {
    width: 50%;
    position: absolute;
    top: 55%;
    left: -22.5%;
}

/* game-categories-section */

.game-categories-section {
    margin-top: 55px;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 120px 0;
}

.game-links {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.game-links li {
    list-style: none;
}

.game-links li a {
    text-decoration: none;
    color: #0B0223;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: white;
    border-radius: 50px;
    padding: 20px 20px 20px 10px;
}

.game-links a:hover {
    border: 1.5px solid #FF42A5;
    color: #FF42A5;
}

/* footer styles */

footer {
    background-color: #0B0223;
    padding: 120px 80px 100px;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.footer-logo-container>h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.footer-titles>nav>ul {
    /* border: 1px solid red; */
    padding-left: 0;
    margin-top: 65px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-titles>nav li {
    list-style: none;
}

.footer-titles>nav>ul a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.13rem;
    font-weight: 600;
}

.social-links {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social-links i {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.guide-links {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.guide-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9rem;
    font-weight: 500;
}

.footer-container>p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
}